/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

* {
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #333 !important;
}

.borda {
    border: 1px solid red;
}

.clearfix {
    overflow: auto;
}

.center {
    margin: 0 auto !important;
}

h2 {
    font-size: 12px !important;
}

h3 {
    font-size: 12px !important;
    color: #949494 !important;
}

/*----------------Navbar--------------------------------*/

.nav-bar {
    width: 100%;
    height: 40px;
    background-color: #333;
    color: #fff;
}

.navbar h2 {
    float: left;
    color: #333;
    font-size: 18px !important;
    margin-right: 10px;
}

.group-nav-bar {
    margin: 0px 0px;
}

.img-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    float: left;
    margin-right: 10px;
}

font-h1 {
    color: #FFF;
    font-family: Arial, Helvertica;
    font-size: 15px;
}

@media only screen and (min-width: 700px) {
    .group-nav-bar {
        margin: 0px 0px;
    }


    .img-user {
        margin: 0 0px;
    }
}

.quantos-tramites-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #990000;
}

.tramites {
    float: right;
}

/*----------------Block chat area----------------------*/

.content-chat {
    margin: 10px;
}

.block-chat {
    border: solid 1px #e6e6e6;
    max-width: 500px;
    min-height: 300px;
    margin: 10px 0px;
}

.btn {
    padding: 3px 10px !important;
    border-radius: 0px !important;
    font-size: 10px !important;
}

.footer-chat .btn {
    padding: 8px 10px !important;
}

/*https://www.maujor.com/tutorial/centralizando-com-css-um-guia-completo.php*/

.footer-chat {
    display: flex;
    justify-content: center;
}

.btn-success {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.chat-head input {
    float: right;
}

.body-chat {
    margin: 20px 0px;
    padding: 10px;
    max-height: 250px;
    overflow-y: auto;
}

#messageText {
    width: 85%;
}

.head .user {
    float: left;
    margin-right: 5px;
}

.msgs-chat {
    margin-bottom: 20px;
}

.img-perfil {
    width: 30px;
    height: 30px;
    background-color: #f5f5f5;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    overflow: hide;
}

    .img-perfil img {
        width: 30px;
    }

/*----------------Bloco da fila de espera-------------------------*/

.body-fila {
    margin: 20px 0px;
    padding: 10px;
    min-height: 200px;
    background-color: #ffffff;
}

.legenda-atendimento {
    float:;
}

    .legenda-atendimento h2 {
        float: left;
    }

.info-legenda {
    width: 13px;
    height: 13px;
    margin: 3px;
    float: right;
    border-radius: 50%;
}

.fila-fone i {
    font-size: 40px;
    color: #00cc99;
}

.fila-descricao-icon i {
    font-size: 40px;
}

.info-legenda-green {
    background-color: #00cc99;
}

.info-legenda-red {
    background-color: red;
}

.info-legenda-yellow {
    background-color: yellow;
}

.info-legenda-blue {
    background-color: #0070e0;
}

.info-legenda-gray {
    background-color: #333;
}

.info-legenda-purple {
    background-color: purple;
}

.bloco-chamado {
    background-color: #fff;
    padding: 10px;
    border: 1px dashed #333;
    margin-top: 5px;
}

.modal-content {
    border-radius: 0px !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}
